[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
}
[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #4CAF50 !important;
    background-color: #4CAF50 !important;
    z-index: 0;
}

[type="checkbox"]:checked+label:before  {
    color: #ff650c;
}   
input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ff650c;
    -webkit-box-shadow: 0 1px 0 0 #ff650c;
    box-shadow: 0 1px 0 0 #ff650c;
}
[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #ff650c;
    border-bottom: 2px solid #ff650c;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.check-terms {
	display: block;
	padding: 0 5px;
}

input[type="radio"]
{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:0;
	opacity:1 !important;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative;
    opacity: 0;
    margin-right:10px;
	margin-top:10px;
}
.space
{
	margin-right:5px;
	color: #999;
    font-size: 13px;
	margin-top:10px;
}

.radioDiv{
	padding:40px 0 0 40px;
}
input[type='radio'] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 0 2px gray;
}

input[type='radio']:checked {
  box-shadow: 0 0 0 2px green;
  margin-right:10px;
  margin-top:10px;
}

input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type='radio']:checked:before {
  background: gray;
}

ul:not(.browser-default)>li {
    /* list-style-type: none; */
    /*display: -webkit-inline-box!important;*/
    /* float: left; */
}

.modal-overlay{
	background: none !important;
	height: auto !important; 
    width: auto !important;
}

.modal .modal-close{
	cursor:pointer !important;
}

.iconActive{
	background-color:#E53935;
	padding-top:10px;
}

.all-channel-container .card-image{
	height: 180px !important;
}

.card .card-image img{
	height: 180px !important;
}
.card .profile-img img{
	height: 55px !important;
	/*border: 1px solid color #000 !important;*/
}

.new
{
	margin-right:143px;
}
.checkcontent
{
	opacity:1;
	float:left;
}