<div class = "single-view-channel-section edit-it"> 
	<div class = "row">
		<div class = "col s10 offset-s1 wrapper-role white-bg">
			<div class = "row">
				<div class = "col s12">
					<form class = "edit-form" name="youtubeAddExcel" id="youtubeAddExcel" method="post" action="<?php echo BASE_URL."/integration/youtubeaddexcel"; ?>" enctype="multipart/form-data">
					
						<div class = "row upload-data">
							<div class = "col s12">
								<div class = "main-heading left">
									<h2>Add Youtube Content</h2>
								</div>
								<div class = "input-field inner-button col s12 custom-setting">
									<a class="waves-effect waves-light btn blue darken-1" id="submitForm">Submit</a>
									
									<a class="waves-effect waves-light btn red darken-1" id="resetForm">Reset</a>
								</div> 
							</div>
							<div class = "col s12">
							<div class="errorMsgFrm" style="display:none;"></div>
								<div class = "row">
									<div class="input-field col s6">
										<input type="text" name="youtube_channel_id" id="youtube_channel_id" value="" class="validate" placeholder="Channel Id" />
									</div>
									
									<div class="input-field col s6">
										<select name="country_code" id="country_code" onchange="getchannel(this.value);">
										<option value="">Country</option>
										<?php foreach($country as $countrylist){?>
										<option value="<?php echo $countrylist['cm_country_code']['country_code']; ?>"><?php echo $countrylist['cm_country_code']['country_name']; ?></option> 
										<?php } ?>
									</select>
									</div>
									<div class="input-field col s6">
									<select name='subcategory_id' id='subcategory_id'>
										<option value="">Category</option>
									</select>
									</div>
									<div class="input-field col s6">
										<select name="channel_id" id="channel_id">
											<option value="">Channel</option>
										</select>
									</div>
									
									<div class="input-field series-file file_icon col s6">
										<label for="channel">File Upload(CSV File)</label>
										<i class = "material-icons">perm_media</i>
										<?php //echo $this->Form->input('file',array('type' => 'file','name'=>'csvfile','id'=>'csvfile','label'=>' ','required'=>true)); ?>
										<?php echo $this->Form->input('file',array('type' => 'file','name'=>'csvfile','label'=>'','id'=>'csvfile')); ?>
									</div>
								
								</div>  
								<div>
									<a href="<?php echo BASE_URL.'/bulkupload/format/format.csv';?>">Download Format</a>
									</div>								
							</div>                       
						</div>
					<!-- end of row div -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<?php echo $this->element('flashmessage'); ?>	
<script type="text/javascript">
$(document).ready(function(){
	$('#channel_id').material_select('destroy');
	$("#resetForm").click(function(){
	    $("#editUser")[0].reset();
	})
	$("#submitForm").click(function(){
	    //$(".errorMsgFrm").css("display","block");
		//var emailRegex = /^[a-z_A-Z0-9\-\.\+]+\@[a-zA-Z0-9\.\-]+\.[a-zA-z0-9]{2,4}$/;
		//var mobileRegex = /^[7-9][0-9]{9}$/;
		//var nameRegex = /^[a-zA-Z 0-9&._-]+$/;
		var youtube_channel_id = $.trim($('#youtube_channel_id').val());
		var email = $.trim($('#email').val());
		var mobile_number = $.trim($('#mobile_number').val());
		var csvfile = $('#csvfile').val().split('.').pop().toLowerCase();
		
		if(youtube_channel_id ==""){
		    $('#youtube_channel_id').focus() ;
			$(".errorMsgFrm").css("display", "block");
			$('.errorMsgFrm').html("Please enter youtube channel id.");
			return false;
		}
		
		
		if( $('#country_code').val() == "") {
		    $('#country_code').focus() ;
			$(".errorMsgFrm").css("display", "block");
			$('.errorMsgFrm').html("Please select country.");
			return false;
		}
		
		if( $('#subcategory_id').val() == "") {
		    $('#subcategory_id').focus() ;
		    $(".errorMsgFrm").css("display", "block");
			$('.errorMsgFrm').html("Please select subcategory.");
			return false;
		}
		
		if( $('#channel_id').val() == "") {
		    $('#channel_id').focus() ;
		    $(".errorMsgFrm").css("display", "block");
			$('.errorMsgFrm').html("Please select channel.");
			return false;
		}
		
		if(csvfile !="" && $.inArray(csvfile, ['csv']) == -1){
			$('#csvfile').focus() ;
			$(".errorMsgFrm").css("display", "block");
			$('.errorMsgFrm').html("Please upload file as  pdf, doc.");
			return false;
		}
		
	   document.youtubeAddExcel.submit();
	})
})
</script>
<script type="text/javascript"> 
    function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}

function getchannel(country_code)	
{
	$('select').material_select();
    var userId = '<?php echo $this->Session->read('User.id'); ?>';
	$.ajax({
			'type':'post',
			'url':'<?php echo BASE_URL;?>/ajaxdata/channellistbycountry.php',
			'data':'country_code='+country_code+'&userId='+userId,
			'success':function(resp){
				//alert(resp);
				//$('#channel_id').material_select('destroy');
				//$('#channel_id').html(resp);
				var $selectDropdown = 
				$("#channel_id")
				.empty()
				.html('');
					
				$selectDropdown.append(resp);
				$selectDropdown.trigger('contentChanged');
			}
	});
}

$('select').on('contentChanged', function() {
    // re-initialize (update)
    $(this).material_select();
});

$(document).ready(function() {
  var app_slug = 'firstcut';
  $('select').material_select();
  $.ajax({
		'type':'post',
		'url':'<?php echo BASE_URL;?>/ajaxdata/contentcategorylist.php',
		'data':'app_slug='+app_slug,
		'success':function(resp){
			//$('#subcategory_id').material_select('destroy');
			//$('#subcategory_id').html(resp);
			$selectDropdown = 
			  $("#subcategory_id")
				.empty()
				.html('');
					
			 $selectDropdown.append(resp);
			 $('select').material_select();
			
		}
	});
	//$("#submitForm").hide();
});
function valueChanged()
{
   if($('#allContent').is(":checked")){   
        $("#next").hide();
		$("#submitForm").show();
	} else {
    	$("#submitForm").hide();
	    $("#next").show();
	}	
}

</script>

