<!-- Modal content start-->
<?php $errorMsgRagahv = $this->Session->flash(); ?>
<div id="myModalraghav" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Test</h4>
<p class="pre-time"><strong>Preview:</strong> 30sec</p>
</div>
<div class="modal-body">
Testing...
</div>
</div>
</div>
</div>
<?php if($errorMsgRagahv !=""){ ?>
<script type="text/javascript"> 
alert("ddfdfdf")
	$('#myModalraghav').modal('show');
</script>	
<?php } ?>
<!-- Modal content end-->	