<?php
/*$variable = new appController();
$notificationList = $variable->userNotification();
echo "<pre>";
print_r($notificationList);
die;*/
?>

 <!-- Header -->
          
          <div class = "navbar-fixed header-nav">
            <ul class="collection dropdown-content" id="dropdown1">
                <li class="collection-item avatar">
                  <i class="material-icons circle">folder</i>                 
                  <p>First Line
                     Second Line
					 hello raghav
                  </p>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">insert_chart</i>                  
                  <p>First Line
                     Second Line
                  </p>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle red">play_arrow</i>                  
                  <p>First Line 
                     Second Line
                  </p>
                </li>
              </ul>            
              <nav>   
                <div class = "nav-wrapper" style="display:none;">
                  <ul id="nav-mobile" class="right hide-on-med-and-down right notification-list">  
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1"> <i class="material-icons">notifications</i><span class="new badge">4</span></a></li>
                  </ul>                  
                    <form>
                    <div class = "input-field">
                      <input id = "search" type = "search" required>
                      <label class = "label-icon" for = "search">
                        <i class = "material-icons">search</i>
                      </label> 
                    </div>
                  </form>
                   
                </div>
              </nav>
          </div>
            <!-- end of Header -->