body {
    position: relative;
 }
 body:after {
    content:'';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);   
 }
 body nav {
    z-index: 10;   
 }
