html {
    height: 100%;
}
 header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
 }
body {
    background-color: #eee;
}
[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
}
[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #d50000 !important;
    background-color: #d50000 !important;
    z-index: 0;
}
ul#dropdown1 {
    width: 236px !important;   
    top: 43px !important;
    left: -197px !important
}
nav ul.notification-list a span.badge {
    display: inline-block;
    float: none;
    margin-left: 4px;
    line-height: 21px;
    min-width: 20px !important;
    -webkit-font-smoothing: auto;
    height: 20px;
    font-weight: 400 !important;
    font-size: 11px;
    position: absolute;
    top: 11px;
    right: 10px;
}
nav ul.notification-list li {
    position: relative;
}
nav ul.notification-list span.badge.new {
    background-color: #E53935;
    border-radius: 100%;
}
nav ul.notification-list span.badge.new:after {
    content: " new";
    display: none;
}
/* ===== Login Style ===== */

 body.login-wrapper  {
    position: relative;
    height: 100%;
 }
.white-bg {
    background-color: #fff !important;
 }
  body.login-wrapper:after {
    content:'';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);   
 }
 .login-wrapper nav {
    z-index: 10;
    position: relative;
    background-color: transparent;
    box-shadow: none;
 }
.login-wrapper nav i.left {
    float: left;
    margin-right: 5px;
    margin-top: 0px;
}

*[data-icon-color = "red"] {
    color :#ef5350;
}
*[data-icon-color = "blue"] {
    color :#26c6da;
}
*[data-icon-color = "orange"] {
    color :#ffa726;
}

.top-menus li i, .card .card-content .top-menus li p {
    display: table-cell;
    vertical-align: top;
    color: #999;
    line-height: 20px;
}
.main-content {
    z-index: 10;
    position: relative;
}

.card.parent-card-container {
    padding: 30px 60px  ;    
}
.card.parent-card-container h2.header {
    margin: 10px 0 30px 0;
    font-size: 26px;
    text-align: center;

}
.card.parent-card-container .card{
    box-shadow: none;
    margin-bottom: 30px;
    padding-right: 30px;
}
.card.parent-card-container .card-stacked, .card.parent-card-container .card-horizontal  {
    display: table-cell;
    vertical-align: top;
}
.card.parent-card-container  .card .card-content {
    padding: 0 5px;
    border-radius: 0 0 2px 2px;
}
.card .card-content p {
    font-size: 13px;
    color: #999;
}
.card.parent-card-container .card .card-title {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 5px;
}
.signup-content form{
    padding-left: 30px;
}
/*==== Sign Up Form ===== */
/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   
   .check-terms {
        display: block;
        padding: 0 5px;
   }
   
   *[data-input-color = "grey"] {
    color: #999;
   }
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label, 
input[type=email]:not(.browser-default):focus:not([readonly])+label, 
input[type=url]:not(.browser-default):focus:not([readonly])+label, 
input[type=time]:not(.browser-default):focus:not([readonly])+label, 
input[type=date]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, 
input[type=tel]:not(.browser-default):focus:not([readonly])+label, 
input[type=number]:not(.browser-default):focus:not([readonly])+label, 
input[type=search]:not(.browser-default):focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label,
[type="checkbox"]:checked+label:before  {
    color: #ef5350;
}   
input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ef5350;
    -webkit-box-shadow: 0 1px 0 0 #ef5350;
    box-shadow: 0 1px 0 0 #ef5350;
}
.input-field.submit-form {
    text-align: center;
}
.input-field.submit-form button {
    border-radius: 21px;
    margin-top: 20px;
    text-transform: capitalize;
}
[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #ef5350;
    border-bottom: 2px solid #ef5350;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.input-field.submit-form .check-terms a {
    font-weight: 500;
}
.signup-content .input-field .prefix.active {
    color: #ef5350;
}
.signup-content .input-field label {
    color: #999;
    font-size: 13px;
}
.signup-content .input-field {
    margin-top: 0;
}
.signup-content .input-field label.active {
    top: 10px;
}
.signup-content .input-field {
    margin-top: 5px;
}
 /*======= Custom Style ===== */ 
 .logo-sidebar {
    text-align: center;
    position: relative;
    padding: 15px 0;
}
.logo-sidebar a.logo-text {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    display: block;
    line-height: 50px;
}
.logo-sidebar img.fc-icon {
    border: 0;
    position: absolute;
    left: 20px;
    top: 24px;
}
a.user-profile {
    position: relative;
}
.logo-sidebar:after,
.user-profile:after
 {
    content: '';
    position: absolute;
    background-color: rgba(255,255,255,0.3);
    width: calc(100% - 30px);
    left: auto;
    height: 1px;
    right: 15px;
    bottom: 0;
}
.pull-right {
	float: right !important;
	margin-right: 0px !important;
}
.user-profile, .user-profile i {
    color: #fff !important;
}
.sidebar-container {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 300px;
    height: 100%;
}
 .sidebar-container .side-nav.fixed .collapsible-body {
    background-color: transparent;
 } 
  .sidebar-container .side-nav.fixed .collapsible-body.child-list li a {
    padding-left: 15px;
    position: relative;
  }
 .sidebar-container .side-nav.fixed .collapsible-body.child-list li a:after {
    content: '';
    position: absolute;
    background-color: rgba(255,255,255,0.1);
    width: calc(100% - 30px);
    left: auto;
    height: 1px;
    right: 15px;
    top: 0;
}

 .sidebar-container .side-nav.fixed .collapsible-body.child-list li a,
 .sidebar-container .side-nav.fixed .collapsible-body.child-list li i {
    color:#fff;
 } 
    
/*=== Content Wrapper === */
.content-wrapper {
    width: calc(100% - 300px);
    float: right;
    padding: 0 20px;
    background-color: #eee;
}
.content-wrapper nav {
    left : 0px;
}

 /*==== Header Style ==== */
 .header-nav form {
    float: right;
    width: auto;
}
.header-nav nav {
    background-color: transparent;
    box-shadow: none;
}
.header-nav nav i.material-icons {
    color: #333;
}
.header-nav nav form .input-field label  {
    left : auto;
    right: 1rem;
    transform : translateY(0);
    -webkit-transform : translateY(0);
}

.header-nav .nav-wrapper .input-field input[type=search] {
    height: 50px;
    padding-right: 4rem;
    padding-left: 0rem;
    width: calc(100% - 4rem);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
}
.header-nav .nav-wrapper .input-field input[type=search]:focus {
    background-color: transparent;
    border-bottom: 1px solid #e53935 !important;
    -webkit-border-bottom: 1px solid #e53935 !important;
    box-shadow: 0 1px 0 0 #e53935;
    -webkit-box-shadow: 0 1px 0 0 #e53935;
}
    
.card .card-header {
    border-radius: 3px;
    display: inline-block;
    float: left;
    width : auto;
    margin-top: -20px;
    margin-left: 15px;
    margin-right: 15px;
}
.card .card-header i {
    font-size: 50px;
    color: #fff;
    padding: 20px;
}
.home-stats .card .card-content {
    padding: 10px 15px 20px;
    position: relative; 
}
.home-stats .card .card-content:after {
    content: '';
    background: #e5e5e5;
    height: 1px;
    width: calc(100% - 30px);
    position: absolute;
    left: 15px;
    bottom: 0;
}
.home-stats .card .card-content p {
    float: right;
    color: #999;
    font-size: 13px;
    text-align : right;
}
.card-footer {
    padding: 5px 15px;
    font-size: 13px;
    color: #999;
    display: block;
    vertical-align: middle;
}
.card-footer i, .card-footer span {
    vertical-align: middle;
    display: inline-block;
    padding-right: 2px;
}
.home-stats .card .card-content h3 {
    font-size: 23px;
    text-align: right;
    color: #555;
    font-weight: 500;
    margin: 6px 0;
    display: inline-block;
}

.card [data-background-color = "orange"] {
    background : linear-gradient(60deg, #ffa726, #fb8c00);
    -webkit-background : linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow :0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    -webkit-box-shadow :0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.card [data-background-color = "red"] {
    background : linear-gradient(60deg, #ef5350, #e53935);
    -webkit-background : linear-gradient(60deg, #ef5350, #e53935);
    box-shadow :0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    -webkit-box-shadow :0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.card [data-background-color = "green"] {
    background : linear-gradient(60deg, #66bb6a, #43a047);
    -webkit-background : linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow :0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    -webkit-box-shadow :0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.card [data-background-color = "blue"] {
    background : linear-gradient(60deg, #26c6da, #00acc1);
    -webkit-background : linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow :0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    -webkit-box-shadow :0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
/*==== Graph Container Style ==== */
.graph-container {
    padding: 18px 0; 
}
.graph-container .graph-content {
    padding: 15px;
}
.dropdown-content li>a, .dropdown-content li>span, input.select-dropdown, .select-wrapper span.caret {
    color : #999;
    
}
/*==== Login Style ==== */
form.login-form {
    position: relative;
}
.login-form h2.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: -65px;
    background-color: #e53935;
    color: #fff;
    padding:30px;
    border-radius:4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
}
.login-form h2.header:after {
    content:'';
}
hr.space {
    height: 50px;
    border: none;
}
form.permission-form {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.edit-user {
    float: none !important;
    border-radius: 2px !important;
}
.all-channel-container .card.view-user-card .card-action {
    text-align: right;
}
form.permission-form + hr.space {
    float: left;
    width: 100%;
    height: 30px;
}  
.login-content:before {
    content: '';
    display: block;
    width: 100%;
    margin: 40px 0 0;
    /* background-color: #fff; */
    height: 50px;
}
.login-content .card.parent-card-container {
    padding: 10px 40px;
}

/*==== Table Style ====*/
ul.select-list li {
    display: inline-block;
    padding-left: 10px;
    position: relative;    
}
ul.select-list.download-list > li {    
    width: 19% !important;
}
ul.select-list li .from-block, ul.select-list li .to-block {
    position: relative;
}
.select-list li i.material-icons {
    position: absolute;
    right: 0;
    top: 20px;
    color: #999;
}
.select-list i.material-icons {
    position: absolute;
    right: 0;
    top: 20px;
    color: #999;
}
.table-format-data {
    padding: 0 15px 15px 15px;
    border-radius: 4px;
    float: left;
    width: 100%;
}
table tr > th {
    text-align: center;
}
table tfoot td {
    text-align: center;
    font-weight: 500;
}
ul.pagination {
    margin-top: 60px;
    float: right;
}
.table-format-data table tr th, .table-format-data table tr td  {
    font-size: 13px;
}
.detail-title-section .card {
    box-shadow: none !important;
}
.detail-title-section .card h3 {
    font-size: 24px;
}
.detail-title-section .card .card-header {
    margin-left: 0;
    margin-right: 10px;
}
.detail-title-section .card .card-content {
    padding: 0;
    border-radius: 0 0 2px 2px;
    display: inline-block;
    vertical-align: top;
    display: inline;
}
.detail-title-section .card .card-header i {
    font-size: 40px;
    color: #fff;
    padding: 17px;
}
.select-list li a.waves-effect.waves-light.btn.red.darken-1 {
    padding-left: 15px;
    padding-right: 15px;
    text-transform: capitalize;
}
.detail-title-section .card h3 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;       
    position: relative;
    top: 5px;
}
/*==== Footer ==== */
.login-wrapper footer.page-footer {
    z-index: 10;
    background-color: transparent;
    position: absolute;
    padding-left: 0;
    padding-top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    padding-bottom: 0;
}
.login-wrapper footer.page-footer nav {
    background-color: transparent;
    box-shadow: none;
     padding: 0 30px 0 10px;
};
footer.page-footer nav ul#nav-mobile li a, footer.page-footer nav ul#nav-mobile li {
    font-size: 12px !important;
    text-transform: uppercase !important;
    font-weight: 400 !important;
}
.chips.focus {
    border-bottom : 1px solid #e53935;
    box-shadow: 0 1px 0 0 #e53935;
}
.input-field input[type=text].valid {
    border-bottom: 1px solid #e53935;
    box-shadow: 0 1px 0 0 #e53935;
}
/*==== Chaneel Statement ==== */
.submit-form-container  {
    display: block;
    width : 100%;
    float: left;
    margin : 50px 0 0 0;
}
.edit-profile-form .submit-form-container {
    margin-top: 20px;
}
.submit-form-container button {
    text-transform: capitalize;
}
.submit-form-container button:nth-child(1) {
    margin-right: 20px;
}

.add-channel-form {
    text-align: center;
    background-color: #fff;
    border-radius: 2px 2px 2px 2px;
    padding: 20px 0px;
}
ul.tabs {
    background-color: #f5f5f5;
    overflow: unset !important;
}
.tabs .tab a {
    color: #666 !important;
    font-weight: 500;
    font-size: 13px;
    padding: 0 15px;
}

.tabs .tab a:hover, .tabs .tab a.active {       
    border-radius: 2px 2px 2px 2px;
    position: relative;
    z-index: 999 !important;    
}

.tab a.active {
    color: #fff !important;
    /*text-indent: -15px !important; */
}

.tabs .indicator {
    width: 28%;
    background-color: #d50000;
    position: absolute;
    text-align: center;
    height: 100%;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    top: 0px !important;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    transform: translate(-10px, 0px);
    -ms-transform: translate(-10px, 0px);
    -webkit-transform: translate(-10px, 0px);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}
.series-tabs.tabs .indicator {
    width: 53%;
}
.artist-tabs.tabs .indicator {
    width: 36%;
}
.tab-content {
    padding: 30px !important;
    padding-bottom: 0px !important;
}
.tab-content form label, .tab-content form i{
    color: #999;
}
.tab-content form i.material-icons.prefix.active {
    color: #d50000;
}
.upload-data .file_icon {
    position: relative;
}
.upload-data i.material-icons {
    border: 1px solid #e5e5e5;
    border-radius: 100%;
    font-size: 81px;
    padding: 34px;
    color: #999;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 1px 2px 0 rgba(0,0,0,0.12), 0 0px 1px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 1px 2px 0 rgba(0,0,0,0.12), 0 0px 1px 0px rgba(0,0,0,0.2);
}
.upload-data input[type="file"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    height: 100%;
    opacity: 0;
     cursor: pointer; 
}
.upload-data .file_icon label {
    width: 100%;
    display: block;
    margin: 10px 0;
    font-size: 14px;
    text-transform: uppercase;

}
.upload-data .banner-image i.material-icons {
    border-radius: 0px;
    padding: 15px 10px;
    width: 100%;
    font-size: 85px;
    height: 150px;
    line-height: 126px;
    border: 1px solid #e5e5e5;
    color: #999;
}
.facebook-container, .youtube-container {
    float: left;
    width: 100%;
    text-align: left;
}
.facebook-container > img {
    width: 24px;
    height: 24px;
}
.facebook-container h2, .youtube-container h2 {
    font-size: 18px !important;
    margin-top: 0;
    border-bottom: 1px solid #999;
    padding: 0 0 10px 0;
    display: block;
    color: #666;
    font-weight: 400;
}
.facebook-container span.left, .youtube-container span.left {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px 0;
    color: #999;
    position: relative;
}
.youtube-container > span.left {
    padding-top: 3px;
}
.youtube-container .select-wrapper {
    position: absolute;
    z-index: 999;
    width: 150px;
    top: 0;
    font-size: 13px !important; 
}
.youtube-container .select-wrapper li {
    font-size: 13px !important;
}
.tab-content a.btn, .file-field span {
    font-size: 14px !important;
    font-weight: 500;
    height: 38px;
    line-height: 40px
}
.youtube-container .select-wrapper span.caret {
    top: -20px !important;
}
span.spacer {
    display: block;
    height: 50px;
    float: left;
    width: 100%;
}
.file_icon.banner-image {
    padding-right: 40px;
}
.add-channel-form .channel-header h2 {
    color: #666;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 10px;
    background-color: white;
}
.add-channel-form .channel-header p {
    margin-top: 2px;
    color: #999;
    margin-bottom: 30px;
}
form.upload-data {
    display: block;
    padding: 40px 0 30px;
    float: left;
    width: 100%;
}
/*==== Channekl View === */
.all-channel-container {
    margin: 10px 0 30px;
}
.sort-section {
    margin: 0px 0px 40px 0;
}
.sort-section label {
    color: #888 !important; 
    font-weight: 500;
    font-size: 15px;
    float: left;
    width: 80px;
    display: block;
    line-height: 44px;
}
.sort-section .select-wrapper {
    position: relative;
    float: inherit;
    vertical-align: top;
   /* width: 75%; */
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: 13px !important;
}
.sort-section .select-wrapper .add-channel {
    display: inline-block;
    margin-top: 15px;
}
.sort-section a.add-channel {
    display: inline-block;
    padding: 0 15px;
    margin: 10px 0 0 0; 
    font-size: 12px;
}
.sort-section a.add-channel i.left {
    float: left;
    margin-right: 4px;
}
.all-channel-container .card-image {
    margin: 0 15px;
    position: relative;
    top: -25px;
}
.all-channel-container .card-image img {
    border-radius: 2px 2px 2px 2px; 
}
.all-channel-container .card .card-content {
    padding: 0 24px 10px;
    border-radius: 0 0 2px 2px;
}
.channel-overview-list li, .channel-overview-list li i, .card-footer-list li, .card-footer-list li i {
    display: inline-block;
    vertical-align: middle;
}
.channel-overview-list li {    
    width: auto;
    padding: 0px 12px 0 0;
    font-size: 13px;    
    color: #999;
}
.all-channel-container .card .card-title {
    font-size: 19px;
    font-weight: 300;
    line-height: 20px !important;
    text-align: center;
}
.all-channel-container .card .card-action {
    padding-right: 15px;
    padding-left: 15px;
}
.card-action a:first-child {
    color: #999 !important;
    margin-right: 10px !important;
    font-size: 13px;
    text-transform: capitalize !important;
}
.card-action a:first-child, .card-action a:first-child i {
    display: inline-block;
    vertical-align: middle;
}

.card-action a:last-child {
    margin-right: 0 !important;
    color: #fff !important;
    padding: 5px 16px;
    border-radius: 18px;
    display: inline-block;
    font-size: 12px;
    text-transform: capitalize !important;
    float: right;
}
.profile-section .col.s4 .card {
    margin-top: 0;
}
.profile-img {
    position: absolute;
    background: green;
    border-radius: 100%;
    bottom: -28px;
    left: 0;
    right: 0;
    margin: auto;
    width: 64px;
    height: 64px;
    top: auto;
    border: 3px solid #e5e5e5;
}
.profile-info-list label, .profile-info-list p {
    display: inline-block;
    width: auto;
}
.profile-info-list label {
    width: 110px;
    font-weight: 500;
    line-height: 25px;
}
form.edit-profile-form.white-bg {
    padding: 20px;
}
form.edit-profile-form.white-bg label {
    color: #999 !important;
}
/*==== Single View-channel ==== */
.inner-title.left, .inner-button.right {
    display: inline-block;
    vertical-align: middle;
}
.inner-button .btn {
    font-size: 13px !important;
    padding: 0 16px;
    margin: 0 0px 0 0px;
}

.wrapper-role {
    padding: 40px !important;
    border-radius: 2px;
}
.inner-title.left h2 {
    font-size: 30px;
    color: #999;
    margin-top: 0;
    margin-bottom: 0;
}
.inner-title.left p {
    font-size: 15px;
    color: #666;
    margin-top: 2px;
    font-weight: 500;
}
.inner-img img {
    width: 100%;
    border-radius: 2px 2px 2px 2px;
}
.single-view-channel-section {
    padding : 20px;
    border-radius: 2px 2px 2px 2px;
}
.single-view-channel-section h3 {
    font-size: 18px;
    color: #666;
    margin-bottom: 0px;
}
.single-view-channel-section p {
    font-size: 15px;
    color: #999;
    margin-bottom: 0px;
}
.inner-img {
    margin: 15px 0;
    height: 220px;
    overflow: hidden;
    border-radius: 2px 2px 2px 2px;
}
.inner-img img {
    width: 100%;
}
.single-view-channel-section .s4 li.list-hreading {
    color: #666 !important;
    font-weight: 500;
}
.single-view-channel-section .s4 li{
    color: #999 !important;
}
.edit-it .inner-img {
    margin: 15px 0;
    height: auto !important;
    overflow: hidden;
    border-radius: 2px 2px 2px 2px;
}
.date-created li i.material-icons  {     
    position: absolute;
    right: 0;
    top: 20px;
    color: #999;
}
.series-file.file_icon,  .series-icon.file_icon {
     position: relative;
}
.series-file.file_icon i.material-icons, .series-icon.file_icon i.material-icons {
    color: #999;
    width: 100%;
    font-size: 70px;
    text-align: center;
    border: 1px solid #e5e5e5;
    padding: 30px;
    border-radius: 2px;
   
}
.series-icon.file_icon i.material-icons {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    line-height: 85px;
    font-size: 60px;
}
.series-icon.file_icon label, .series-file.file_icon label {
    font-size: 15px;
    color: #9e9e9e;
    opacity: 0.5;
    font-weight: 500;
    display: block;
    margin-bottom: 9px;
    position: relative;
    left: 0;
    top: -10px;
}
.series-icon.file_icon {
    text-align: center;
}
.series-icon.file_icon label {
    width: 100%;
    text-align: center;
}
.series-file.file_icon input[type="file"], .series-icon.file_icon input[type="file"] {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: red;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    left: 0;
    cursor: pointer;
}
.custom-setting {
    float: right !important;
    width: auto !important;
    padding-right: 0px !important;
}
.custom-setting  .btn {
    font-size: 13px !important;
    padding: 0 30px !important;
    margin: 0 6px 0 5px;
}
.custom-setting.input-field {
    margin-top: 0 !important;
    margin-bottom: 20px;
}
.edit-form h2 {
    margin: 0;
    font-size: 29px;
    color: #999;
    text-transform: capitalize;
    font-weight: 400;
}
.no-record {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px !important;
}
.no-record i, .no-record span {
    display: inline-block !important;
    vertical-align: middle;
    margin-right: 5px;
}
input[type = "text"] {
    font-size: 13px !important;
}

/*==== View Content Style ====*/
.content-sorting {
    padding: 15px;
    border-radius: 2px;
    margin-bottom: 10px;
}
.content-sorting .row {
    margin-bottom: 0 !important;
}
.small-filteration > ul > li { 
    display: inline-block;
    width: auto;
    margin: 0 0% 15px 0;
    padding-left: 15px;  
}
.content-sorting .select-list {
    margin : 0px !important;
}
ul.view-in-listing {
    margin-top: 10px;
}
ul.view-in-listing li  {
    width:auto;
    display: inline-block;
    margin-top: 27px;
    padding-right: 10px;
}
table a.btn {
    font-size: 12px;
    padding-left: 13px;
    padding-right: 13px;
    height: 29px;
    line-height: 29px;
    text-transform: capitalize;
}
ul.view-in-listing.graph-view li {
    margin-top: 0;
    margin-bottom: 0;
}
.no-margin {
    margin-bottom: 0px !important;
}