<section id="main" class="column">
	<article class="module width_3_quarter">
		<header>
			<h3 class="tabs_involved" style="width:30%!important">Report User Activity</h3> 
			<ul class="tabs">
            	<form action="user_error_report" method="post">
					<table border="0" align="center" cellspacing="0" cellpadding="0" style="margin: 0 10px;">
						<tr>
						<td>Enter Mobile Number: </td>
							<td><input name="msisdn" value="" " type="text">
														
							<td><input type="submit" value="Go" name="Go"></td>
						</tr>
                      </table>
	     		</ul>
            </header>
</section>
  <div class="box-content">
			<?php if(!empty($errordetails)){ 
			?>	 
	    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                        <th style="text-align:left">user_id</th>                          
						<th style="text-align:left">deviceId</th>
					    <th style="text-align:left">Error Message</th>
					    <th style="text-align:left">Issue</th>
					    <th style="text-align:left">Created</th>
						</tr>
                        </thead>
                        <tbody>
					<?php  
					foreach($errordetails as $obj)
					{		 
								//echo "<pre>";
								//print_r($obj);
								//die;
					?>
				    <tr>
				   <td style="text-align:left" class="center"><?php  echo  $obj['errorreport']['user_id'];?></td>
				   <td style="text-align:left" class="center"><?php  echo  $obj['errorreport']['deviceId'];?></td>
				    <td style="text-align:left" class="center"><?php  echo  $obj['errorreport']['errorMessage'];?></td>
					<td style="text-align:left" class="center"><?php  echo  $obj['errorreport']['issue'];?></td>
					<td style="text-align:left" class="center"><?php  echo  $obj['errorreport']['created'];?></td>
				   </tr>
				<?php 
				 }
				 ?>
                 </tbody>
               </table>
			<?php 
			}
			else
			{
			?>

			<span style="color:red">No Record Found......</span>
			<?php
			}
			?>

	
					
					