<?php echo $this->element("header"); ?>
<title>Error</title>
</head>
	<div class = "main-content">
		<div class = "container">
			<?php $msg = $this->Session->flash(); ?>
			<?php echo $this->fetch("content"); ?>
		</div>
	</div>
	<?php echo $this->element("footerlink"); ?>
	<?php echo $this->element("footer"); ?>