<div class="row">                            
	<div class="col s12">
		<div class="row">
			<h2 style="text-align:center;">Error - Page Not Found</h2>
			<br/>
			<h2 style="text-align:center;"><a href="<?php echo BASE_URL;?>">Go Home</a></h2>
		</div>
	</div>
</div>
		