<?php if(($this->Session->read('User.user_type') == "CPA") || ($this->Session->read('User.user_type') == "CPU")){ 

?>

<!-- Home-States-->
<div class = "home-stats">
	<div class = "row">
	<div class = "col s3">
		<h1>Down for maintenance.</h1>
	</div>
	</div>
</div>
<?php } ?>